

.designTechnology-title h2 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-left: 45px;
    margin-top: 150px;
    text-align: center;
}

.designTechnology-title h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -34px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("../../assets/img/Underline 3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.technologies-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 80px;
}

/* .technologies-logo img {
    color: rgb(202, 226, 218);
} */