.portfolio-header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-title h2 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-left: 45px;
    margin-top: 150px;
}

.portfolio-title h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -50px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("../../assets/img/Underline 3.png");
    background-repeat: no-repeat;
    background-position: start;
}

.portfolio-btn button {
    border-radius: 50%;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 24px;
    display: block;
    padding: 0;
    width: 54px;
    height: 54px;
    box-shadow: 10px 10px 22px rgba(45, 91, 255, 0.28);
}

.btn-left{
    background-color: azure;
    color:black;
}
.portfolio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    text-align: center;
    grid-gap: 10px;
    margin-bottom: 50px;
}
.portfolio-gallery img {
   width: 100%;
}

.portfolio-gallery h4 {
    margin-top: 15px;
    text-align: center;
}

.all-photos-button {
 margin: 20px auto 100px;
    text-align: center;
}