
.customers-title h2{
    font-size: 1.5rem;
    text-align: center;
}

div h2{
    text-align: center;
    margin-top:126px;
    margin-bottom: 120px;
    background-image: url("../../assets/img/Underline\ 3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.customers-logo img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}
.customers-logo{
    margin-bottom: 140px;
}