.technology-header div {
    position: relative;
}

.technology-header div.active::after {
    content: "";
    background-color: #2d5bff;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50%;
    height: 4px;
}

.technology-header div::before {
    content: "";
    background-color: #2d5bff1a;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
}

.devTechnology-title h2 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-left: 45px;
    margin-top: 150px;
    text-align: center;
}

.devTechnology-title h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -40px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("../../assets/img/Underline 3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.technology-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 24px;
}

.technologies-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.technologies-logo div {
    text-align: center;
}

.technologies-logo img {
    color: rgb(202, 226, 218);
}