.workflow-title h2 {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-left: 45px;
    margin-top: 150px;
    text-align: center;
}

.workflow-title h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -40px;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url("../../assets/img/Underline 3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.workflow-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    border:none;
}
/* workflow-accordion */
.accordion{
    border: transparent !important;
}

.accordion .accordion__button{
background-color: transparent;
}

.accordion-item {
    border-left: 3px solid blue;
    box-shadow: 12px 12px 55px rgba(4, 4, 21, 0.06);
    border-radius: 6px;
    margin-top: 5px;
}

.workflow-banner {
    border:0;
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
}

.workflow-banner img {
    border-radius: 6px;
}