.message {
    background-color: #2D5BFF;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px auto;
    padding: 40px;
    border-radius: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    grid-gap: 20px;
}
.col-1 {
    display: block;
}
.social-icons {
    font-size: 25px;
    display: flex;
    align-items: center;
}
.social-icons .icons {
    margin-top: 20px;
    margin-left: 10px;
}
