/* ===================
    Common Layout CSS
===================== */

*{
  box-sizing: border-box;
}

li , a , button {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 16px;
}

h2{
  font-size: 36px !important;
}


img{
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;

}



