/* ===============
    All Font
================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}



